################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArenaOfTime/.vs/ArenaOfTime/v16
